
nav{
    height: calc(85vw / 16 * 9);
}
#banner{
     
    display: flex !important;
   justify-content:right;
   align-items: center;
    text-align:end ;
    color: bisque ;
    height: calc(85vw / 16 * 9 - (55px + 2vw));

    & div
    {
        border-radius: 2vw;
       padding: 1vw;
       background-color: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(1px) ;
        margin-right: calc(10px + 2vw);
        width: calc(45% + 300px - 15vw );

    };

    & a{
        color: bisque !important; 
    }

}
section{

text-align: center;
}
#oradores{
    width: 76vw;
    justify-content: space-evenly;
    /* margin-left: 12vw  !important; */
    display: inline-flex;
    
}

#descript{
    color: antiquewhite !important;
     display: inline-flex;

    & span{
        
        width: 50vw;
        & img{width: 50vw;}
    };
   & :nth-child(2){
  height: calc(50vw * 9/16);
  
 
    padding: 1vw;
    & p{
      height: 60%;
    }
   };

        background-color:  #343a40;
    
 }
 form{
    margin: calc(5px + 2vw);
 display: flex;
 flex-direction: column;
    text-align: center;
    align-items: center;
    & textarea{
       
       width: 55vw;
       height: calc(55vw * 3 / 11);
    }
  
        &  * + div{ 
           
            display: flex;
            justify-content: space-between;
            width: 55vw;
        }
        &  *  input{
            margin: calc(5px + 2vw) 0 calc(5px + 2vw) 0;
            width: 45%;
            color: red ;
            
        }

   
 }