nav {
    height: calc(85vw / 16 * 9);
}

#banner {

    display: flex !important;
    justify-content: right;
    align-items: center;
    text-align: end;
   
    height: calc(85vw / 16 * 9 - (55px + 2vw));


}

#banner {
    color: var(--TextoFondosObsc);
}
#banner div {
    border-radius: 2vw;
    padding: 3vw;
    background-color: rgba(0, 0, 0, 0.31);
    backdrop-filter: blur(1px);
    margin-right: calc(10px + 2vw);
    width: calc(45% + 300px - 15vw);

}

#banner a {
    color: bisque !important;
}

section {

    text-align: center;
}

#oradores {
    width: 76vw;
    justify-content: space-evenly;

    display: inline-flex;

}

.descript {
    color: antiquewhite !important;
    display: inline-flex;



    background-color: #343a40;

}

.descript span {

    width: 50vw;

}

.descript span img {
    width: 50vw;
}

.descript :nth-child(2) {
    height: calc(50vw * 9/16);
    padding: 1vw;
}

.descript :nth-child(2) p {
    height: 60%;
}

.form {
    margin: calc(5px + 2vw);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}



.form *+div {

    display: flex;
    justify-content: space-between;
    width: 70vw;
}

.form * input {

    margin: calc(5px + 2vw) 0 calc(5px + 2vw) 0;
    width: 45%;


}
.form textarea {

    width: 70vw;
    height: calc(70vw * 3 / 11);
}
.form .btn {
    width: 70vw;
   


}

*::placeholder {
    color: rgba(255, 0, 0, 0.70);
}

@media only screen and (max-width:870px) {
     #banner p{
       
        height: calc( 100vw / 16 * 3);
     }
    #oradores {

        flex-direction: column;
        align-items: center;

    }

    .card {
        max-width: calc(var(--CardWidth) * 3);
    }

     .card img {
        width: calc(var(--CardWidth) * 3);
    } 

    nav {
      height: calc(150vw / 16 * 9);
      background-image: none !important;
        justify-content: center;
        align-items: center;
    }
    #banner{
        justify-content: center;
        align-items: center;
        width: 100vw;
        background-image: url("https://dainnin.github.io/HTMLPubM/imgIntegrador/ba1.jpg");
        background-size: 100%; 
        background-repeat: no-repeat;
        height: calc(125vw / 16 * 9 - (55px + 2vw));
    }
    nav div {
        width: 90vw;
        margin: 0 !important;
    }

    .descript {
        flex-direction: column;

    }


    .descript span {

        width: 100vw;

    }

    .descript span img {
        width: 100vw;
    }

    .descript :nth-child(2) {
        height: calc(100vw * 9/16);
        padding: 1vw;
    }

    .descript :nth-child(2) p {
        height: 60%;
    }
    .card-body p{
        height: calc(var(--CardWidth) * 14/11);
     }
     .form *+div {

        display: flex;
       flex-direction: column;
        width: 70vw;
    }
     .form * input {

        width: 100%;
    
    
    }
    .form textarea {
    
        width: 70vw;
        height: calc(70vw * 9 / 11);
    }
}