
.footer{
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    height: 45px;
    background-color:  #343a40;
    overflow: hidden;
     
}
.footer a{ 
    text-decoration: none;
    color: rgba(255,255,255,.55);
}
@media only screen and (max-width:870px){
    
    .footer{
        display: flex ;
        justify-content: center;
        height: max-content;
        flex-direction: column;
       
    } 
   .footer a{
   
    font-size: var(--CardFontSizeH1) !important;
    padding: 5px;
   }
}