





.header {
    display: flex;
    justify-content:space-around ;
    background-color: rgb(72, 76, 77);
    height: calc(55px + 2vw);
    
   

}
.header picture {
    display: flex;
    justify-content: center;
    align-items: center;
color: bisque;

}
.header picture img {

    height: calc(50px * 12 / 13 + 1vw );
}
.header menu {
    display: flex;
    align-items: center;
   
};

.header h4{
        color: #fff;
    }
    .header a{
    text-decoration: none;
    color: rgba(255,255,255,.55);
    padding-left: 1vw;
   } 
   