    :root{
        --CardFontSizeP: calc(3px + 1vw);
        --CardFontSizeA: calc(5px  + 1.25vw);
        --CardFontSizeB: calc(5px + 1.5vw);
        --CardFontSizeH4: calc(5px + 2vw);
        --CardWidth: calc(100vw * 30/132);
    }
    *{
       /*  background-color: transparent !important; */
        min-width: auto !important;
    }
a{
    font-size: var(--CardFontSizeA) !important;

}
p{
    margin: 6px 0 6px 0;
    font-size: var(--CardFontSizeP) !important;
}
button{
    font-size: var(--CardFontSizeB) !important;
}
h4{
    font-size: var(--CardFontSizeH4) !important;

}
    body {
      /*  background-image: url("../tp.jpeg") !important;*/
        background-size:100%;
            margin: 0;
        }

        header {
            display: flex;
            justify-content:space-around ;
            background-color: rgb(72, 76, 77);
            height: calc(55px + 2vw);
            
            & picture {
                display: flex;
                justify-content: center;
                align-items: center;

               & img {

                    height: calc(50px * 12 / 13 + 1vw );
                }
            }
            & menu {
                display: flex;
                align-items: center;
               
            };
              & a{
                padding-left: 1vw;
               } 
        }
        nav{
            height: calc(85vw / 16 * 9);
        }
        #banner{
             
            display: flex !important;
           justify-content:right;
           align-items: center;
            text-align:end ;
            color: bisque ;
            height: calc(85vw / 16 * 9 - (55px + 2vw));
            & div
            {
                
                margin-right: 10vw;
                width: 45%;

            };
            & a{
                color: bisque !important; 
            }

        }
      section{
      & p{

        font-size: calc(1px + 1vw) !important;
      }
        text-align: center;
      }
        #oradores{
            width: 76vw;
            justify-content: space-evenly;
            /* margin-left: 12vw  !important; */
            display: inline-flex;
            
        }
 .card{
    width: var(--CardWidth);
    align-items: center;
   
    border-width: 2px !important;
    
    & div{
        padding: 5px;
    }
    & img{
        height: auto;
        width: var(--CardWidth);
        min-width: auto !important;
    }
    margin-bottom: 5vw;
 }
 #descript{
    & span{
        width: 50vw;
        & img{width: 50vw;}
    }
   
        background-color:  #343a40;
   
 }
 form{
    margin: calc(5px + 2vw);
 display: flex;
 flex-direction: column;
    text-align: center;
    align-items: center;
    & textarea{
       
       width: 55vw;
       height: calc(55vw * 3 / 11);
    }
  
        &  * + div{ 
           
            display: flex;
            justify-content: space-between;
            width: 55vw;
        }
        &  *  input{
            margin: calc(5px + 2vw);
            width: 45%;
            color: red ;
            
        }

   
 }
 footer{
    height: 75px;
    background-color:  #343a40;
}
